@use '/src/styles/variables.scss' as *;

.addUserForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .dropdown {
    width: 100%;
  }

  .dropdownMenu {
    width: 100%;
  }

  .dropdownRole [role='menu'] {
    bottom: 100%;
    top: auto;
  }

  button {
    width: 100%;
    transition: background-color 0.3s ease;
  }
}
