@use 'sass:color';

// _variables.scss
$primary-color: #3498db;
$primary-400: #5caeea;
$primary-300: #85c3f0;
$primary-200: #add7f5;
$secondary-color: hsl(145, 63%, 49%);
$error-color: #e74c3c;
$background-color: #f4f4f4;
$text-color: #333;
$label-color: #555;
$form-border-color: #a4a5ad;
$text-light-color: #f9f9f9;
$background-dark-color: #282c34;
$border-color: #e7e7e7;
$white-color: #ffffff;

$primary-color-highlight: color.adjust($primary-color, $lightness: 40%);
