@use 'sass:color';

// _variables.scss
$primary-color: #3498db;
$primary-color: #3498db;
$secondary-color: hsl(145, 63%, 49%);
$error-color: #e74c3c;
$background-color: #f4f4f4;
$text-color: #333;
$label-color: #555;
$form-border-color: #a4a5ad;
$text-light-color: #f9f9f9;
$background-dark-color: #282c34;
$border-color: #e7e7e7;

$primary-color-highlight: color.adjust($primary-color, $lightness: 40%);

$primary-50: #ebf5fc; // Very light
$primary-100: #d6ebfa;
$primary-200: #add7f5;
$primary-300: #85c3f0;
$primary-400: #5caeea;
$primary-500: #3498db; // Primary color
$primary-600: #2e88c5;
$primary-700: #276ea1;
$primary-800: #1f547d;
$primary-900: #18395a;
$primary-950: #0f243b; // Very dark
