@use '/src/styles/variables.scss' as *;

.postsAnalyticsContainer {
  h3 {
    text-align: center;
    color: $label-color;
  }

  .postsAnalytics {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background: $white-color;

    .rechartsResponsiveContainer {
      min-height: 500px;
    }

    @media (max-width: 600px) {
      padding: 0;
    }
  }
}
