@use '/src/styles/variables.scss' as *;

.settingsForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;

  .fieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    width: 100%;

    @media (min-width: 600px) {
      max-width: 500px;
    }
  }

  .buttonsContainer {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
  }

  .errorMessage {
    text-align: center;
    color: $error-color;
    font-size: 14px;
  }
}
