@use '/src/styles/variables.scss' as *;

.languageSwitcher {
  display: flex;
  align-items: center;

  select {
    color: $text-color;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    background-color: $background-color;

    &:hover {
      border-color: $form-border-color;
    }

    &:focus {
      outline: none;
    }
  }
}
