@use '/src/styles/variables.scss' as *;

.usersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  .usersHeader {
    display: flex;

    .pageTitle {
      text-align: left;
    }
  }

  .filtersContainer {
    display: flex;
    justify-content: space-between;
  }
}
