@use '/src/styles/variables.scss' as *;

.tableContainer {
  overflow-x: scroll;

  .table {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    thead {
      background-color: #f4f4f4;

      tr {
        th {
          padding: 12px;
          text-align: left;
          font-weight: bold;
          border-bottom: 2px solid $border-color;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        td {
          padding: 12px;
          border-bottom: 1px solid #ddd;
          text-align: left;
        }
      }

      tr:last-child td {
        border-bottom: none;
      }

      .text-center {
        text-align: center;
        font-style: italic;
        color: #888;
        padding: 20px;
      }

      th:nth-child(4),
      td:nth-child(4) {
        white-space: nowrap;
        min-width: 130px;
      }
    }
  }
}
